body {
  margin: 0;
  padding: 0px 10% 5%;
  background-color: #0b0c10;
}
div {
  margin: 0;
  padding: 0;
}
.popup {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, .5);

  /* Эти параметры нужны, чтобы скрыть popup, т.к. еще не написаны js-компоненты */
  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
}

.margin-block {
  margin: 5vw 2vw 5vw;
}

.flex-start {
  display: flex;
  justify-content: space-between;
}

.writers-container {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}
.big-title {
  margin: 0px;
  padding: 0px;
  font-style:900;
  color: #66FCF1;
  font-size: 8vw;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.name {
  font-style:900;
  color: #66FCF1;
  font-size: 4vw;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.discription {
  font-style:900;
  color: #F9EBEB;
  font-size: 4vw;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avatar {
  display: flex;
  align-items: center;
}
.avatar_img {
  width: 35vw;
  height: 35vw;
  background-size: cover;
  display: block;
  border-radius:50%;
}

.inner-oval {
  width: 15vw;
  height: 15vw;
  border: 3px solid #66FCF1;

  display: flex;
  justify-content: center;
  border-radius: 80%;
  align-items: center;
  background: #0b0c10;
  font-size: 5vw;
  color: #66FCF1;

}

.oval-element {
  color: #66FCF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration-line:unset;
}
.oval-element_p {
  display: inline-block;
  font-size: 2vw;
  text-decoration-line:unset;
}
.oval-element_a {
  display: inline-block;
  color: #66FCF1;
  position: relative;
  font-size: 2vw;
  text-decoration-line:unset;
  transition: 0.3s;
}
.oval-element_a:hover {
  scale: 1.2;
}
.title-section {
  font-size: 5vw;
  color: #57B8D7;
  display: block;
  
}
.edu-container_edu-title {
  text-align: center;
  font-size: 3vw;
  color: #63FCF1;
  margin-bottom: 0px;
}
.edu-container_edu-text {
  font-size: 2vw;
  color: #63FCF1;
  text-align: center;  
}
.edu-section {
  display: flex;
  flex-direction: column;
}
.edu-rows {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.edu-container_date {
  margin: 0px;
  padding: 0px;
  color: grey;
  font-size: 1.5vw;
  text-align: center;
}
.about-me-container {
  background-color: #C5C6C7;
  height: 20vw;
  font-size: 3vw;
}
.footer_title {
  color: #FFFFFF;
  font-size: 3vw;
}
.img-icon {
  width: 5vw;
  height: 5vw;
}
.edu-container {
  
}
.about-me-container {

}
.cards__list {
  gap: 20px 17px;
}
.cards__card {
  height: 35vw;
  width: 20vw;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  transition: 0.3s;
}
.cards__card:hover {
  scale: 1.05;
}
.cards__img {
  height: 100%;
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

.footer__contacts-h1 {
  color: #63FCF1;
  font-size: 4vw;
  display: inline;
  margin: 0 auto 0;
  margin-left: 1.5vw;
}

.popup__container {
    margin: 0;

    width: 40vw;
    height: 33vw;

    position: relative;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 25%;


    z-index: 1;

    box-sizing: border-box;

    background: white;
    border-radius: 10px;

    scale: 0.2;

    transition: 0.3s;
}

.popup__container_gallery {
    padding: 0;
    background: transparent;
}
.form__body {
  display: flex;
  align-items: center;
  padding: 1vw;
}
.popup__form_phone {
  display: flex;
  flex-direction: column;
}
.popup__form {
  display: flex;
}
.form__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.popup__prev-button {
  margin: 0;
  padding: 0;

  width: 3vw;
  height: 2vw;

  position: absolute;
  top: 55%;
  right: 110%;

  cursor: pointer;

  background: transparent url(../images/gallery/left-button.svg) no-repeat center;
  background-size: contain;
  scale: 1.75;

  outline: none;
  border: none;
}

.popup__prev-button:hover {
  opacity: 0.6;
}
.popup__prev-button_disabled {
  visibility: hidden;
}

.popup__container_opened {
    scale: 1;
}
.popup__close-button {
  margin: 0;
  padding: 0;

  width: 2vw;
  height: 2vw;
  background-size: contain;

  position: absolute;
  top: -27px;
  right: 59px;

  cursor: pointer;

  background: rgba(0, 0, 0, 0) url(../images/gallery/close-button.svg) no-repeat center;
  outline: none;
  border: none;
}

.popup__close-button:hover {
  opacity: 0.6;
}
.popup__next-button {
  margin: 0;
  padding: 0;

  width: 3vw;
  height: 2vw;

  position: absolute;
  top: 55%;
  right: -60px;

  cursor: pointer;

  background: transparent url(../images/gallery/right-button.svg) no-repeat center;
  background-size: contain;
  scale: 1.75;

  outline: none;
  border: none;
}

.popup__next-button:hover {
  opacity: 0.6;
}
.popup__next-button_disabled {
  visibility: hidden;
}
.popup_opened {
  opacity: 1;

  scale: 1;

  background: rgba(0, 0, 0, 0.5);

  visibility: visible;
}
.popup__img-container {
  height: 36vw;
  width: 33vw;
  border-radius: 10px;
  border: 2px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  left: -4%;
}
.popup__img {
  width: 100%;
  height: 100%;
  left: -100%;
  top: 20%;
  border-radius: 10px;
  overflow: hidden;
  object-fit:fill;

  border-radius: 10px;
}
.popup__remnder_h2 {
  font-size: 3vw;
}
.popup__container_reminder{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  left: 10%;
  width: 20vw;
  height: 15vw;
}
.page {
  position: relative;
  transition: 0.3s;
}


@media (max-width: 768px) {
  .cards__card {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    transition: 0.3s;
  }
  .flex-start {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .writers-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .edu-rows {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

.popup__container_gallery {
    padding: 0;
  }
  .popup__next-button {
    right: 6%;
    top: 80%;
    width: 40px;
    height: 40px;
    z-index: 10;
  }
  .popup__prev-button {
    left: -6%;
    top: 80%;
    width: 40px;
    height: 40px;
    z-index: 10;
  }
  .popup__close-button {
      top: 80%;
      right: 40%;
      width: 62px;
      height: 60px;
      z-index: 10;

      background-size: 40px;
  }
  .popup__container_reminder {
    width: 40vw;
    height: 20vw;
  }
  .popup__remnder_h2 {
    font-size: 8vw;
  }
  .popup__img-container {
    height: 50vw;
    top: -80%;
    left: -10%;
    width: 44vw;
  }

}

@media print {
  body {
    color: black;
  }
}

.popup__container_form {
  width: 228vw;
  height: 150vw;
}
.popup__form_phone {
  width: 20vw;
  height: 20vw;
  display: flex;
}

.form__head {
  display: flex; /* Располагаем элементы в строку */
  justify-content: space-between; /* Выравниваем по краям */
  align-items: center; /* Выравниваем по вертикали */
  margin-bottom: 2px; /* Отступ снизу */
}

.form__title {
  font-size: 15rem; /* Размер шрифта заголовка */
  font-weight: bold; /* Жирный шрифт */
}

.popup__form_phone {
  display: flex;
  justify-content: space-between;
  width: 800vw;
}
.popup__form_email {
  display: flex;
  margin-top: 8vw;

}
.popup__form_request {
  width: 3100px;

}
.form__example-phone {
  margin: 1vw;
  font-size: 4rem;
  display: inline;
}

.popup__form_phone label {

}
.popup__form_email label {
  display: inline;
}
.popup__form_request label {
  display: block; /* Располагаем метки на новой строке */
  margin-bottom: 5px; /* Отступ снизу */
  font-size: 8rem;
}

.popup__form_phone input {
  width: 100vw;
  height: 50vw;
  font-size: 4rem;
}
.popup__form_email input {
  font-size: 4rem;
}
.popup__form_request textarea {
  width: 225vw;
  height: 60vw;
  font-size: 3rem;
}
.form__phone-title {
  font-size: 4rem;
}
.form__request {
  font-size: 4rem;
}

.popup__form_phone input[type="tel"] {
  display: flex;
}

.popup__form_email p {
}

.popup__send {
  width: 226vw;
  font-size: 8rem;
  background-color: #4caf50;
  color: red;
  border-radius: 8px;
  position: absolute;
  top: 100%;
  cursor: pointer;
}

.form__email {
  font-size: 5rem;
  margin: 1vw;
}

.popup__send:hover {
  background-color: #45a049; /* Цвет фона при наведении */
}
.timer__container {
  background-color: gray;
}
.timer__title {
  color: #63FCF1;
}
.timer__timer {
  color: rgb(94, 0, 0);
  font-size: 15rem;
}

.menu {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-list li {
  display: inline;
  margin-right: 20px;
}

.menu-list li:last-child {
  margin-right: 0;
}

.menu-list li a {
  color: white;
  text-decoration: none;
}

.menu-list li a:hover {
  text-decoration: underline;
}
.fixed-header {
  top: 0px;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 100;
  background-color: #fff; /* Цвет фона меню */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
  transition: top 0.3s ease; /* Плавное появление/исчезновение */
}

.fixed-header.active {
  position: fixed;
  top: 0; /* Выталкиваем меню вверх, чтобы скрыть его */
}
.fixed-header.start {
  position: relative;
}

.fixed-header.disabled {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000; /* Чтобы меню оставалось поверх других элементов */
}

/* Добавить пространство для меню после второго экрана */
.main_container {
  padding-top: 30px;
}

#animatedSVG {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Делаем SVG-элемент невидимым для событий мыши */
  opacity: 0; /* По умолчанию SVG-элемент скрыт */
  transition: opacity 0.5s ease-in-out; /* Добавляем анимацию перехода */
}

.fullscreen {
  opacity: 1; /* Показываем SVG-элемент */
}

svg {
  max-width: 90vw; 
  height: 100vh;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Делаем SVG-элемент невидимым для событий мыши */
  opacity: 0; /* По умолчанию SVG-элемент скрыт */
  transition: opacity 0.5s ease-in-out;
}